:root {
    --clr-white: 0 0% 100%;
    --clr-black: 230 35% 7%
}

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

/*utility class*/
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.white-color {
    color: hsl(var(--clr-white));
}

.black-color {
    color: hsl(var(--clr-black));
}

.white-bg {
    background: hsl(var(--clr-white));
}

.black-bg {
    background: hsl(var(--clr-black));
}

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}